.c-main {
  height: 100%;
  margin-left: auto;
  padding-left: 272px !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  margin-top: 45px;

  @include media-query(desk) {

    .user_signed_in--true & {
      max-width: none;
    }
  }

  .c-main__wrapper {
    min-height: 100%;
    background-color: $ws;
    padding: 15px 25px;
  }

  .c-main__title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 2px;
  }

  .c-main__subtitle {
    font-size: 15px;
    font-weight: 900;
  }

  .c-main__content {
    padding-top: 5px;
    clear: both;
  }
}
