.c-form-element {
  border: 1px solid $fg;
  padding: ($gap / 3) ($gap / 2);
  margin-bottom: $gap;
  border-radius: $global-radius;
  width: 100%;
  background-color: #fff;
}

.c-form-select {
  font-weight: 900;
  height: 40px;
  color: black;
}
