$color-1: #FC8063;
$color-2: #D66C54;
$color-3: #C94A2C;

$black: #000;
$white: #fff;

$blue-1: #428BCA;
$blue-2: #145B96;
$blue-3: #4181B8;
$blue-4: #B2C1CA;
$colorBlue-light: #BFCDD4;
$colorBlue-lighter: #B2C1CA;
$colorBlue-titles: #3876AB;
$french-grey-blue: #d2ccce;
$solid-blue: #3876AB;
$transparent-blue: #D7E3EB;

$pink-red: #FC8063;

$green-on: #7ED321;
$red-off: #D6253B;

$skyblue: #E1F7EE;
$lightred: #F7DEE1;

$white-smoke: #EEF3F6;
$ws:          $white-smoke;

$french-grey: #d2ccce;
$fg:          $french-grey;

$text-color: $inuit-base-text-color;

$error-color: #a94442;
$success-color: #3c763d;
$warning-color: #8a6d3b;

$color-names:     color-1   color-2    color-3    blue-1   blue-2  ws   fg   text-color   skyblue   lightred   error        success        warning;
$color-values:    $color-1  $color-2   $color-3   $blue-1  $blue-2 $ws  $fg  $text-color  $skyblue  $lightred  $error-color $success-color $warning-color;
